@use 'common';

.MainVisual {
    position: relative;

    figure {
        position: relative;
        height: calc(100vh - 131px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.itm01 {
            background-image: url(../../public/assets/images/mainvisual01.jpg);
        }

        &.itm02 {
            background-image: url(../../public/assets/images/mainvisual02.jpg);
        }

        &.itm03 {
            background-image: url(../../public/assets/images/mainvisual03.jpg);

            .inner {
                color: common.$dColor;
                text-shadow: 0 0 1px common.$wColor;

                a {
                    border: 1px solid common.$dColor;
                }
            }
        }

        .inner {
            position: absolute;
            top: 50%;
            right: calc((100% - 1170px) / 2);
            transform: translateY(-50%);
            text-align: right;
            text-shadow: 0 0 1px common.$dColor;
            color: common.$wColor;

            h2 {
                font-size: 50px;
                font-weight: 700;
                margin: 0 0 20px 0;
            }

            p {
                font-size: 18px;
                margin: 0 0 45px 0;
                line-height: 1.37;
                white-space: pre-line;
            }

            .more {
                font-size: 18px;
                border: 1px solid common.$gColor;
            }
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &:first-child {
            margin: 0 0 0 -850px;
        }

        &:last-child {
            margin: 0 0 0 850px;
        }
    }
}