@use 'common';



.New {
    .bgimg {
        background: url(../../public/assets/images/new_bg.jpg) no-repeat center center/cover;
    }

    .secPage {
        .container {
            flex-wrap: wrap;
            gap: 30px;

            figure {
                flex: calc(25% - 30px);
                margin: 0 0 30px 0;
            }
        }

        .box {
            overflow: hidden;
            border: 1px solid common.$lColor;
            margin: 0 0 15px 0;

            img {
                transform: scale(1);
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .name {
            font-size: 17px;
        }
    }
}

.Jewellery {
    .bgimg {
        background: url(../../public/assets/images/jewellery_bg.jpg) no-repeat center center/cover;

        h2 {
            color: common.$wColor;
            text-shadow: 0 0 1px common.$dColor;
        }
    }

    .secPage {
        .container {
            flex-wrap: wrap;
            gap: 30px;

            figure {
                flex: calc(33.33% - 30px);
                margin: 0 0 30px 0;
            }
        }

        .box {
            overflow: hidden;
            border: 1px solid common.$lColor;
            margin: 0 0 15px 0;

            img {
                transform: scale(1);
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .collection {
            img {
                transform: scale(1) translateX(5%);
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1) translateX(5%);
                }
            }
        }

        .name {
            font-size: 17px;
            text-transform: uppercase;
        }
    }
}

.Bridal {
    .bgimg {
        background: url(../../public/assets/images/bridal_bg.jpg) no-repeat center center/cover;
    }

    .secPage {
        .container {
            flex-wrap: wrap;
            gap: 30px;

            figure {
                flex: calc(25% - 30px);
                margin: 0 0 30px 0;
            }
        }

        .box {
            overflow: hidden;
            border: 1px solid common.$lColor;
            margin: 0 0 15px 0;

            img {
                transform: scale(1);
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .name {
            font-size: 17px;
            text-transform: uppercase;
        }
    }
}

.Company {
    .bgimg {
        background: url(../../public/assets/images/about_bg.jpg) no-repeat center center/cover;
    }

    .secPage {

        .title01,
        .title02 {
            font-size: 23px;
            font-weight: 500;
            text-align: left;
            margin: 0 0 40px 0;

            &::after {
                content: "";
                display: block;
                width: 70px;
                height: 3px;
                margin: 20px 0;
                background: common.$mColor;
            }
        }

        .box {
            display: flex;
            gap: 30px;

            figure {
                flex: 1;
                filter: brightness(0.99);
            }

            .desc {
                flex: 2;
                font-size: 15px;
                line-height: 1.37;
                align-self: center;

                span {
                    display: block;
                    font-size: 17px;
                    font-weight: 500;
                    margin: 0 0 10px 0;
                }

                .desc01 {
                    margin: 0 0 60px 0;
                }
            }
        }
    }

    .mainPage {
        width: 1170px;
        margin: 0 auto;

        .container {
            flex-wrap: wrap;
            gap: 30px;

            figure {
                flex: calc(25% - 30px);
                margin: 0 0 30px 0;
            }
        }

        .box {
            overflow: hidden;
            border: 1px solid common.$lColor;
            margin: 0 0 15px 0;

            img {
                transform: scale(1);
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .name {
            font-size: 17px;
            text-transform: uppercase;
        }
    }
}

.Newslist {
    .bgimg {
        background: common.$mColor;
    }

    .secPage {
        .container {
            flex-wrap: wrap;
            gap: 30px;

            figure {
                flex: calc(25% - 30px);
                margin: 0 0 30px 0;

                &:last-child {
                    flex: 0 0 270px;
                }
            }
        }

        .box {
            overflow: hidden;
            border: 1px solid common.$lColor;
            margin: 0 0 15px 0;

            img {
                transform: scale(1);
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        span {
            display: block;
            font-size: 13px;
            margin: 0 0 15px 0;
        }

        .name {
            width: 270px;
            font-size: 15px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                text-decoration: underline;
            }
        }


    }
}

.Stores {
    .bgimg {
        background: url(../../public/assets/images/stores_bg.jpg) no-repeat center center/cover;
    }

    .st_tab {
        border-bottom: 1px solid common.$lColor;

        .container {
            justify-content: center;
            text-align: center;
        }

        li {
            padding: 20px 129px;
            font-size: 17px;
            background: common.$sgColor;
            border-right: 1px solid common.$lColor;
            border-top: 1px solid common.$lColor;
            cursor: pointer;

            &:first-child {
                border-left: 1px solid common.$lColor;
            }

            &.on {
                position: relative;
                background: common.$wColor;
                border-bottom: 1px solid common.$wColor;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: -2px;
                    left: 0;
                    background: common.$wColor;
                }
            }
        }
    }

    .mainPage {
        strong {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 30px 0;

            &::before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 21px;
                margin: 0 15px 0 0;
                vertical-align: -0.2em;
                background: common.$mColor;
            }
        }

        .st_table {
            width: 100%;
            border-top: 3px solid common.$mColor;


            tbody {
                border-top: 1px solid common.$lColor;
                border-spacing: 0;
                border-collapse: collapse;
            }

            tr {
                border-bottom: 1px solid common.$lColor;
            }

            th {
                padding: 15px 20px;
                text-align: left;
                background: common.$sgColor;
                font-weight: 500;

                &~th {
                    width: 75%;
                    border-left: 1px solid common.$lColor;
                }
            }


            td {
                padding: 20px;

                &~td {
                    width: 75%;
                    border-left: 1px solid common.$lColor;
                }
            }
        }
    }
}